.info__link {
    display: block;
    padding: 20px 0;
}

.info__link:hover {
    opacity: 0.9;
    text-decoration: underline;
}

.info__link:active {
    opacity: 0.5;
    text-decoration: none;
}

.info__list {
    padding-bottom: 40px;
}

.info__back {
    text-decoration: underline;
}

.info__back:hover {
    opacity: 0.9;
}

.info__back:active {
    opacity: 0.5;
    text-decoration: none;
}

.info__title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 30px;
}

.info__item {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 26px;
    position: relative;
}

.info__item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 50%;
    background-color: #3c3c3c;
}


@media (min-width:1100px) {
    .info__item {
        font-size: 22px;
        line-height: 28px;
    }

    .info__link {
        font-size: 18px;
    }

    .info__title {
        font-size: 24px;
    }
}